header {
    padding-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
}

header h1.title {
    margin-left: 10px;
    font-size: 35px;
    font-weight: 400;
}

header img.logo {
    max-width: 70px;
}

/*
Styling for Room Form
*/
form.roomCode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70%;
}

form.roomCode h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2.5vh;
}

form.roomCode hr {
    width: 9vw;
    border-style: none;
    height: 4px;
    background-color: #eeeeee;
    border-radius: 25px;
    margin-bottom: 3vh;
}

.form-input {
    font-size: 18px;
    font-weight: 600;
    padding-left: 40px;
    color: #232931;

    border-radius: 50px;
    border-style: none;
    width: 350px;
    height: 42px;

    transition: all 0.2s ease-in-out;
}

.form-input:hover {
    background-color: #219897;
    color: #eeeeee;
}

.form-input:hover::placeholder {
    color: #eeeeee;
}

form.roomCode ::placeholder {
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.selector {
    display: flex;
    position: relative;
}

.selector img.hashtag {
    position: absolute;
    opacity: 0.4;
    top: 7px;
    left: 10px;
    max-width: 25px;
}

.selector button {
    border: none;
    position: absolute;
    top: 3px;
    right: 39px;
    max-width: 37px;
}

.selector img.btn {
    position: absolute;
    max-width: 35px;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

.selector img.btn:hover {
    cursor: pointer;
    transform: rotate(0deg);
}


/*
Styling for Error Message
 */
.error {
    margin-top: 2vw;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;

    border-radius: 15px;
    border-style: solid;
    border-color: red;
}

.error img {
    vertical-align: middle;
    max-width: 30px;
}
.error p {
    font-weight: 300;
    font-size: 15px;
    margin: 0 0 0 10px;
    display: inline-block;
}

.load {
    margin-top: 1.5vw;
    width: 100%;
    text-align: center;
}

.loader {
    width: 50px;
}

@media screen and (max-width: 950px) {
    form.roomCode input {
        width: 300px;
        font-size: 17px;
    }

    form.roomCode h1 {
        font-size: 37px;
    }
}

@media screen and (max-width: 550px) {
    header h1.title {
        font-size: 30px;
    }

    header img.logo {
        max-width: 60px;
    }

    form.roomCode input {
        font-size: 14px;
    }

    form.roomCode h1 {
        font-size: 34px;
    }
}

@media screen and (max-width: 380px) {
    header h1.title {
        font-size: 25px;
    }

    header img.logo {
        max-width: 45px;
    }

    form.roomCode hr {
        width: 75px;
    }

    form.roomCode h1 {
        font-size: 34px;
    }

    form.roomCode div img.btn {
        top: 1px;
    }
}