.profile-div {
    margin-left: auto;
    display: flex;
}

.profile-username {
    font-weight: 300;
    font-size: 22px;
    margin-right: 20px;
}
.profile {
    margin-left: auto;
    margin-right: 1vw;
}

.logout {
    margin-left: 5px;
}
.profile-div img {
    max-width: 35px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.profile-div img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 550px) {
    .profile-username {
        font-size: 18px;
        margin-right: 10px;
    }

    .profile-div img {
        max-width: 27px;
    }
}