div.wrapper {
    height: 100%;
}

div.header {
    width: 100%;
    display: flex;
    align-items: center;
}

h1.title {
    margin-left: 10px;
    font-size: 35px;
    font-weight: 400;
}

img.logo {
    max-width: 70px;
    max-height: 70px;
}

img.profile {
    margin-left: auto;
    margin-right: 1vw;
    max-width: 40px;
    max-height: 40px;
}

@media(max-width: 950px) {
    h1.title {
        font-size: 30px;
    }

    img.logo {
        max-width: 55px;
        max-height: 55px;
    }
}

@media(max-width: 550px) {
    h1.title {
        font-size: 25px;
    }

    img.logo {
        max-width: 45px;
        max-height: 45px;
    }

    img.profile {
        max-width: 35px;
        max-height: 35px;
    }
}

/*
Styling for Room FORM
*/
form {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    align-items: center;
}

form h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2.5vh;
}

form hr {
    width: 8%;
    border-style: none;
    height: 4px;
    background-color: #eeeeee;
    border-radius: 25px;
    margin-bottom: 3vh;
}

form input {
    font-size: 20px;
    font-weight: 600;
    padding-left: 40px;
    color: #232931;

    border-radius: 50px;
    width: 350px;
    height: 40px;
}

form ::placeholder {
    font-size: 18px;
    font-weight: 600;
}

form input:focus {
    outline: none;
}

form div img.hashtag {
    position: relative;
    opacity: 40%;
    top: 7px;
    left: 35px;
    max-width: 25px;
}

form div img.btn {
    position: relative;
    top: 11px;
    right: 40px;
    max-width: 35px;
}

form div img.btn:hover {
    cursor: pointer;
}