header {
    width: 100%;
    display: flex;
    align-items: center;
}

header h1.title {
    margin-left: 10px;
    font-size: 35px;
    font-weight: 400;
}

header img.logo {
    max-width: 70px;
    max-height: 70px;
}

header img.profile {
    margin-left: auto;
    margin-right: 1vw;
    max-width: 40px;
    max-height: 40px;
}

/*
Styling for Room Form
*/
form.roomCode {
    margin-top: 20vh;
    text-align: center;
    width: 100%;
}

form.roomCode h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2.5vh;
}

form.roomCode hr {
    width: 9vw;
    border-style: none;
    height: 4px;
    background-color: #eeeeee;
    border-radius: 25px;
    margin-bottom: 3vh;
}

form.roomCode input {
    font-size: 18px;
    font-weight: 600;
    padding-left: 40px;
    color: #232931;

    border-radius: 50px;
    width: 350px;
    height: 40px;
}

form.roomCode ::placeholder {
    font-size: 18px;
    font-weight: 600;
}

form.roomCode div img.hashtag {
    position: relative;
    opacity: 40%;
    top: 7px;
    left: 35px;
    max-width: 25px;
}

form.roomCode div img.btn {
    position: relative;
    top: 13px;
    right: 42px;
    max-width: 37px;
}

form.roomCode div img.btn:hover {
    cursor: pointer;
}


/*
Styling for Error Message
 */

.errContainer {
    width: 100%;
    text-align: center;
    margin-top: 2vw;
}

.error {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;

    border-radius: 15px;
    border-style: solid;
    border-color: red;
}

.error img {
    vertical-align: middle;
    max-width: 30px;
}
.error p {
    font-weight: 300;
    font-size: 15px;
    margin: 0 0 0 10px;
    display: inline-block;
}

@media(max-width: 950px) {
    .header h1.title {
        font-size: 30px;
    }

    .header img.logo {
        max-width: 55px;
        max-height: 55px;
    }

    form.roomCode input {
        width: 300px;
        font-size: 17px;
    }

    form.roomCode h1 {
        font-size: 37px;
    }

    .error img {
        max-width: 25px;
    }

    .error p {
        font-size: 13px;
    }
}

@media(max-width: 550px) {
    .header h1.title {
        font-size: 25px;
    }

    .header img.logo {
        max-width: 45px;
        max-height: 45px;
    }

    .header img.profile {
        max-width: 35px;
        max-height: 35px;
    }

    form.roomCode input {
        width: 250px;
        font-size: 15px;
    }

    form.roomCode h1 {
        font-size: 34px;
    }

    .error {
        padding: 6px;
    }

    .error img {
        max-width: 22px;
    }
}