@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
    overflow-x: hidden;
}

html body {
    background-color: #232931;
    height: 100vh;
}

*:focus {
    outline: none;
}

#root {
    height: 100vh;
    margin: 0 2vw;
}